<script src="../js/timer.js"></script>

{{#if data.toastCheck}}
<script src="../js/toast.js"></script>
<div class="toast">
    Answer submitted
</div>
{{/if}}

<div class="play">
    <h1 id="heading">Prelims - Quiz</h1>
    <p id="user_welcome">Hello, {{data.name}}!</p>
    
    <div class="box">
        <p id="timer">0</p>
        <h1>Question {{data.data.number}}</h1>
        <p>{{data.data.question}}</p>
        <form method="post" action="/play">
            <input type="text" name="answer" id="answer" placeholder="Answer">
            <input type="submit" value="SUBMIT" id="btn_submit">
        </form>
    </div>
</div>
