<div class="play">
    <h1 id="heading">Prelims - Quiz</h1>
    <p id="user_welcome">Hello, Mihir Aggarwal!</p>
    <div class="box">
        <h1>Question</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <form method="post" action="/play">
            <input type="text" name="answer" id="answer" placeholder="Answer">
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</div>
